Package: boatyard-nginx-python
Version: 0.5
Section: web 
Priority: optional
Architecture: all
Essential: no
Pre-Depends: boatyard-nginx, python (>=2.6), python-setuptools
Depends: python-dev, libmysqlclient-dev, git-core
Installed-Size: 1024
Maintainer: Sittipon Simasanti [ssimasanti@gmail.com]
Description: Bird Django Web Server
Provides: boatyard-startapp-python
Conflicts: python-virtualenv
